
img {
height: 240px;
width: 240px;
padding: 15px;
}

.portfolio1-image, .portfolio2-image, .portfolio3-image, .portfolio4-image, .portfolio5-image {
    width: 210px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio1-image {
    background-image: url(images/profilepic.jpg);
}

.portfolio2-image {
    background-image: url(images/profilepic.jpg);
}

.portfolio3-image {
    background-image: url(images/profilepic.jpg);
}

.portfolio4-image {
    background-image: url(images/profilepic.jpg);
}

.portfolio5-image {
    background-image: url(images/profilepic.jpg);
}

.portfolio1-title, .portfolio2-title, .portfolio3-title, .portfolio4-title, .portfolio5-title {
    position: absolute;
    bottom: 40px;
    width: 210px;
    background-color: cornflowerblue;
    text-align: center;
}

